<head>

</head>

<body>
    <h1>Hello <%=username%> !!! wow<h1>
                <ul>
                    <%customers.map((i)=>{%>
                        <li>
                            <%=i%>
                        </li>
                        <% })%>
                </ul>
</body>